https://pixner.net/begam/profile.html
https://preview.themeforest.net/item/bigamer-online-esports-and-gaming-tournaments-html-template/full_screen_preview/34258637
https://preview.themeforest.net/item/armadon-gaming-community-wordpress-theme/full_screen_preview/27957394?_ga=2.112752580.1751517242.1646668419-1946930870.1636581447&_gac=1.182801876.1643659550.Cj0KCQiArt6PBhCoARIsAMF5waiaV1e92WPGFQqxOHDu2IOYVXDnAoEKb8ALEqlYfnl15cpFO2RDsMMaApK8EALw_wcB
https://preview.themeforest.net/item/armadon-gaming-community-wordpress-theme/full_screen_preview/27957394?_ga=2.112752580.1751517242.1646668419-1946930870.1636581447&_gac=1.182801876.1643659550.Cj0KCQiArt6PBhCoARIsAMF5waiaV1e92WPGFQqxOHDu2IOYVXDnAoEKb8ALEqlYfnl15cpFO2RDsMMaApK8EALw_wcB
<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



    <link href="//db.onlinewebfonts.com/c/c6f5218272f98dd91e0742b9c2bdb0a2?family=Gang+of+Three" rel="stylesheet" type="text/css"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    
</style>
</head>


<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="top">
                    <div class="col-md-5">
                        <ul>
                            <li><a href="home.html">
                                Home
                                </a>
                            </li>
                            <li><a href="#">
                                Community
                                </a>
                            </li>
                            <li><a href="tournament.html">
                                Tournaments
                                </a>
                            </li>
                            <li><a href="#">
                                Live Now
                                </a>
                            </li>
                            <li><a href="#">
                                Support
                                </a>
                            </li>
                            <li><a href="#">
                                About
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">
                        <a href="home.html"><img src="images/logo.png" class="logo"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="topright">
                                    <div class="col-md-4">
                                        <div class="form">
                                            <form action="/action_page.php" class="search">
                                              <input type="text" placeholder="SEARCH" name="search">
                                              <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="icon">
                                            <a href="#"><i class="fas fa-comments"></i></a>
                                            <a href="#"><i class="fas fa-heart"></i></a>
                                            <a href="#"><i class="fas fa-bell"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="profile">
                                            <img src="images/user.png">
                                            <p>JONATHAN</p>
                                            <a href="#"><i class="fas fa-chevron-circle-down"></i></a>
                                        </div>
                                    </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 dso">
                    <h2><span>DSO</span> ESPORTS</h2>
                    <p>Live tournaments, match highlights, and your favorite pro players all in one place</p>
                </div>
                <div class="col-md-12 gm">
                    <h2>GAMES</h2>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="games">
            <div class="container">
                <div class="row">
                    <div class="first">
                        <div class="col-md-2 game">
                            <img src="images/allgames.png">
                            <h2 class="allgames">ALL GAMES</h2>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/fortnite.png">
                            <h2>FORTNITE</h2>
                            <p>1M viewers</p>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/pubg.png">
                            <h2>PUBG:PLAYER...</h2>
                            <p>5K viewers</p>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/cod.png">
                            <h2>Split Gate</h2>
                            <p>12K viewers</p>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/apex.png">
                            <h2>APEX LEGENDS</h2>
                            <p>9K viewers</p>
                        </div>
                    </div>
                    <div class="second">
                        <div class="col-md-2 game">
                            <img src="images/rocket.png">
                            <h2>ROCKET LEA...</h2>
                            <p>2k viewers</p>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/waw.png">
                            <h2>WORLD OF WA...</h2>
                            <p>500k viewers</p>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/valorant.png">
                            <h2>VALORANT</h2>
                            <p>75K viewers</p>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/cyberpunk.png">
                            <h2>CYBERPUNK</h2>
                            <p>200K viewers</p>
                        </div>
                        <div class="col-md-2 game">
                            <img src="images/counter.png">
                            <h2>COUNTER-STR...</h2>
                            <p>91K viewers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ctg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>CATEGORIES</h2>
                    </div>
                    <!-- <div class="container-fluid">
                        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item col-md-3  active">
                                   <div class="panel panel-default">
                                      <div class="panel-thumbnail">
                                        <a href="#" title="image 1" class="thumb">
                                          <img class="img-fluid mx-auto d-block" src="images/adventure.png" alt="slide 1">
                                        </a>
                                      </div>
                                    </div>
                                </div>
                                <div class="carousel-item col-md-3 ">
                                   <div class="panel panel-default">
                                      <div class="panel-thumbnail">
                                        <a href="#" title="image 3" class="thumb">
                                         <img class="img-fluid mx-auto d-block" src="images/sports.png" alt="slide 2">
                                        </a>
                                      </div>
                                    </div>
                                </div>
                                <div class="carousel-item col-md-3 ">
                                   <div class="panel panel-default">
                                      <div class="panel-thumbnail">
                                        <a href="#" title="image 4" class="thumb">
                                         <img class="img-fluid mx-auto d-block" src="images/scifi.png" alt="slide 3">
                                        </a>
                                      </div>
                                    </div>
                                </div>
                                <div class="carousel-item col-md-3 ">
                                    <div class="panel panel-default">
                                      <div class="panel-thumbnail">
                                        <a href="#" title="image 5" class="thumb">
                                         <img class="img-fluid mx-auto d-block" src="images/openworld.png" alt="slide 4">
                                        </a>
                                      </div>
                                    </div>
                                </div>
                                <div class="carousel-item col-md-3 ">
                                    <div class="panel panel-default">
                                      <div class="panel-thumbnail">
                                        <a href="#" title="image 5" class="thumb">
                                         <img class="img-fluid mx-auto d-block" src="images/openworld.png" alt="slide 4">
                                        </a>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only"><i class="fas fa-chevron-circle-left"></i></span>
                            </a>
                            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only"><i class="fas fa-chevron-circle-right"></i></span>
                            </a>
                        </div>
                    </div> 

                    <div class="scrolly">
                            <button id="left"><span class="material-icons">chevron_left</span></button>
                            <button id="right"><span class="material-icons">chevron_right</span></button>
                        <ul class="carouselPre">
                            <li class="itemsC">
                                <div class="contents">
                                    <h1 class="leftTxtDet">Adventure</h1>
                                </div>
                                <div class="bgImg"><img src="images/adventure.png" alt="image" srcset=""></div>
                            </li>
                            <li class="itemsC">
                                <div class="contents">
                                    <h1 class="leftTxtDet">Sports</h1>
                                </div>
                                <div class="bgImg"><img src="images/sports.png" alt="image" srcset=""></div>
                            </li>
                            <li class="itemsC">
                                <div class="contents">
                                    <h1 class="leftTxtDet">Sci Fi</h1>
                                </div>
                                <div class="bgImg"><img src="images/scifi.png" alt="image" srcset=""></div>
                            </li>
                            <li class="itemsC">
                                <div class="contents">
                                    <h1 class="leftTxtDet">Open World</h1>
                                </div>
                                <div class="bgImg"><img src="images/openworld.png" alt="image" srcset=""></div>
                            </li>
                            <li class="itemsC">
                                <div class="contents">
                                    <h1 class="leftTxtDet">Open World</h1>
                                </div>
                                <div class="bgImg"><img src="images/openworld.png" alt="image" srcset=""></div>
                            </li>

                        </ul>
                    </div>-->

                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/adventure.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Speed Run<span>Coming Soon</span></h4>
                                </div>                      
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/sports.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Sports</h4>
                                </div>                      
                            </div>
                        </div>      
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/scifi.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>FPS</h4>
                                </div>                      
                            </div>
                        </div>                              
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/openworld.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Open World</h4>
                                </div>                      
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/adventure.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Speed Run<span>Coming Soon</span></h4>
                                </div>                      
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/sports.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Sports</h4>
                                </div>                      
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/scifi.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>FPS</h4>
                                </div>                      
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/openworld.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Open World</h4>
                                </div>                      
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/adventure.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Speed Run <span>Coming Soon</span></h4>
                                </div>                      
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/sports.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Sports</h4>
                                </div>                      
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/scifi.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>FPS</h4>
                                </div>                      
                            </div>
                        </div>  
                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="images/openworld.png" class="img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <h4>Open World</h4>
                                </div>                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>

                </div>
            </div>
            
        </div>
    </section>

    <section>
        <div class="stream">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h2>TOP STREAMERS THIS WEEK</h2>
                    </div>
                    <div class="middleban">
                        <img src="images/01.png">
                        <h2>Ninja</h2>
                        <div class="col-md-2 mid aft views">
                            <h3>25k views</h3>
                            <p>(this week)</p>
                        </div>
                        <div class="col-md-2 mid aft">
                            <h3>1Million+</h3>
                            <p>(total views)</p>
                        </div>
                        <div class="col-md-2 mid">
                            <h3>185</h3>
                            <p>(videos)</p>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-12">
                            <a href="#">VIEW CHANNEL</a>
                        </div>
                    </div>

                    <div class="players">
                        <div class="col-md-3 box">
                            <img src="images/doublelift.png">
                            <h3>Doublelift</h3>
                            <div class="col-md-4 ply aftr">
                                <h3>20k views</h3>
                                <p>(this week)</p>
                            </div>
                            <div class="col-md-4 ply aftr">
                                <h3>750,000</h3>
                                <p>(total views)</p>
                            </div>
                            <div class="col-md-4 ply">
                                <h3>201</h3>
                                <p>(videos)</p>
                            </div>
                            <div class="col-md-12">
                                <a href="#">VIEW CHANNEL</a>
                            </div>
                        </div>
                        <div class="col-md-3 box">
                            <img src="images/kat.png">
                            <h3>KatEvolved</h3>
                            <div class="col-md-4 ply aftr">
                                <h3>20k views</h3>
                                <p>(this week)</p>
                            </div>
                            <div class="col-md-4 ply aftr">
                                <h3>750,000</h3>
                                <p>(total views)</p>
                            </div>
                            <div class="col-md-4 ply">
                                <h3>201</h3>
                                <p>(videos)</p>
                            </div>
                            <div class="col-md-12">
                                <a href="#">VIEW CHANNEL</a>
                            </div>
                        </div>
                        <div class="col-md-3 box">
                            <img src="images/zeyzal.png">
                            <h3>ZeyZal</h3>
                            <div class="col-md-4 ply aftr">
                                <h3>20k views</h3>
                                <p>(this week)</p>
                            </div>
                            <div class="col-md-4 ply aftr">
                                <h3>750,000</h3>
                                <p>(total views)</p>
                            </div>
                            <div class="col-md-4 ply">
                                <h3>201</h3>
                                <p>(videos)</p>
                            </div>
                            <div class="col-md-12">
                                <a href="#">VIEW CHANNEL</a>
                            </div>
                        </div>
                        <div class="col-md-3 box">
                            <img src="images/demont.png">
                            <h3>Demonte</h3>
                            <div class="col-md-4 ply aftr">
                                <h3>20k views</h3>
                                <p>(this week)</p>
                            </div>
                            <div class="col-md-4 ply aftr">
                                <h3>750,000</h3>
                                <p>(total views)</p>
                            </div>
                            <div class="col-md-4 ply">
                                <h3>201</h3>
                                <p>(videos)</p>
                            </div>
                            <div class="col-md-12">
                                <a href="#">VIEW CHANNEL</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="sign">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>sign up for <br> tournament</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                    </div>
                    <div class="col-md-6">
                        <div class="frm">
                            <form action="/action_page.php">
                              <label for="fname">First name</label><br>
                              <input type="text" id="fname" name="fname" ><br>
                              <label for="Email">Email</label><br>
                              <input type="text" id="Email" name="Email" ><br>
                              <label for="Number">Contact Number</label><br>
                              <input type="text" id="Number" name="Number" ><br>
                              <label for="Team">Team Name</label>
                              <label for="Players" class="ply">Number of Players</label><br>
                              <input type="text" id="Team" name="Team" >
                              <input type="text" id="Players" name="Players" ><br>
                              <label for="Country">Country</label><br>
                              <input type="text" id="Country" name="Country" ><br>
                              <label for="Game">Game</label><br>
                              <input type="text" id="Game" name="Game" ><br>
                              <a href="pricing.html">Submit</a>
                            </form> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="event">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h2>Upcoming Events</h2>
                    </div>
                    <div class="col-md-6">
                        <img src="images/event.png" class="evt">
                    </div>
                    <div class="col-md-6">
                        <img src="images/event1.png"><br>
                        <img src="images/event2.png" class="hlf">
                        <img src="images/event3.png" class="hlf">
                    </div>
                    <div class="col-md-12">
                        <a href="#">VIEW ALL UPCOMING EVENTS</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <img src="images/logo.png" class="logo">
                    </div>
                    <div class="col-md-7">
                        <ul>
                            <li><a href="home.html">
                                Home
                                </a>
                            </li>
                            <li><a href="#">
                                Community
                                </a>
                            </li>
                            <li><a href="tournament.html">
                                Tournaments
                                </a>
                            </li>
                            <li><a href="#">
                                Live Now
                                </a>
                            </li>
                            <li><a href="#">
                                Support
                                </a>
                            </li>
                            <li><a href="#">
                                About
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-discord"></i></a>
                    </div>
                    <div class="end">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>© 2021 DSO Esports, All Rights Reserved</p>
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2">
                                    <p>SPONSORED BY:</p>
                                </div>
                                <div class="col-md-2">
                                    <a href="#"><img src="images/dubby.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>